@using System.Security.Principal
@using Microsoft.Graph
@using Microsoft.Identity.Web
@inject GraphServiceClient GraphServiceClient

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
    {
        var user = await GraphServiceClient.Me.Request().GetAsync();

        <span class="navbar-text text-dark">Hello @user.DisplayName!</span>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
}
else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
}
</ul>
